@model AutoFix.Data.Data.Garaz.HistoriaNaprawy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoriaNaprawy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZmiany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZmiany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisZmiany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisZmiany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naprawa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naprawa.Opis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHistorii">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
