@model IEnumerable<AutoFix.Data.Data.Garaz.HistoriaNaprawy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataZmiany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpisZmiany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naprawa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataZmiany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisZmiany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naprawa.Opis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHistorii">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHistorii">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHistorii">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
