@model IEnumerable<AutoFix.Data.Data.Garaz.Rezerwacja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataRezerwacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usluga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uwagi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataRezerwacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usluga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uwagi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klient.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRezerwacji">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRezerwacji">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRezerwacji">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
