@model AutoFix.Data.Data.Garaz.Pojazd

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pojazd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrRejestracyjny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrRejestracyjny)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Silnik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Silnik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Klient?.Email ?? "brak danych")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPojazdu" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
