@model IEnumerable<AutoFix.Data.Data.Garaz.Pojazd>

@{
    ViewData["Title"] = "Index";
}

<h1>Pojazdy</h1>

<div class="d-flex justify-content-start mb-3">
    <a asp-action="Create" class="btn btn-sm btn-outline-primary">
        <i class="bi bi-plus-circle me-1"></i> Dodaj nowy
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrRejestracyjny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Silnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrRejestracyjny)
            </td>
            <td>
                @(item.Klient?.Email ?? "brak danych")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Silnik)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPojazdu" class="btn btn-sm btn-outline-warning me-1">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdPojazdu" class="btn btn-sm btn-outline-info me-1">
                        <i class="bi bi-info-circle"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdPojazdu" class="btn btn-sm btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
